/* Box Model Hack */
* {
     box-sizing: border-box;
} 
/***************************
/* Base Styles
/***************************/
html, body{
     font-size: 62.5%;
}

body {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 1.5rem;
     color: rgba(48,55,62,255);
     line-height: 1.5;
     margin: 0 auto;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
}

.page-container {
     position: relative;
     min-height: 100vh;
}

/*******************
/* Links
/*******************/

a, a:visited {
     text-decoration: none;
     color: rgba(48,55,62,255);
}

a:hover {
     text-decoration: underline;
}

/**************************
/* Horizontal Nav Bar
/**************************/
header {
     height: 15rem;
     font-size: 1.6rem;
     font-weight: 500;
     width: 100%;
     position: fixed;
     top: 0;
     background: white;
   }

   .nav-bar {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
   } 
   
   .nav-items {
     list-style: none;
     display: flex;
     flex-wrap: wrap;
   }
   
   .nav-item {
     margin-right: 1rem;
   }
   
   @media (max-width: 468px) {
     .nav-bar {
       flex-direction: column;
     }
   
     .nav-items {
       margin: 2%;
       padding: 2%
     }
   
     .nav-item {
       margin-bottom: 1rem;
     }
   }

#navlogo {
     width: 20rem;
}
/* End Nav Bar */

/*********************
/* Content
/*********************/
main {
     width: 72%;
     margin: 0 auto;
     margin-top: 15rem;
     padding-bottom: 8rem;
}

main a {
     text-decoration: underline;
}

h1 {
     color: rgba(0,40,104,255);
}

/*************************************
/* Welcome and 'Join Us' on home page
/*************************************/
#welcome {
     font-size: xx-large;
     color: rgba(0,40,104,255);
}
/**? I have never used this type pf attribute before. Would it be better to implement font size via rem %?*/

section h1 {
     color: rgba(48,55,62,255);
     display: flex;
     justify-content: center;
     border-top: 3px solid rgba(48,55,62,255);
     border-bottom: 3px solid rgba(48,55,62,255);
     padding: 5rem;
}

/****************************
/* Graphic on brigade page
/****************************/
#brigadegraphic {
     display: flex;
     justify-content: center;
}

/****************************
/* Table on Brigades page
/****************************/
#tablewrap {
     overflow-x: auto;
}

table, th, td {
     border: 1px solid black;
     text-align: left;
}

table {
     border-collapse: collapse;
     width: 100%;
}

tr:nth-child(odd) {
     background-color: #f2f2f2;
}

th {
     padding: 1rem;
}

td {
     padding: 2rem 1rem;
}

/******************************
/* Meetup and Slack
/******************************/
.socials {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
}

.socials a, .socials a:hover{
     text-decoration: none;
}

.socials h2 {
     padding-top: 3rem;
     text-align: center;
     width: 100%;
}

.meetup {
     flex-basis: 30%;
     font-size: 1.8rem;
     text-align: center;
}

.slack {
     flex-basis: 30%;
     font-size: 1.8rem;
     text-align: center;
}

#meetup {
     width: 50%;
     margin: 0 auto;
}

#slack {
     width: 50%;
     margin: 0 auto;
}


/******************************
/* Footer
/******************************/

footer {
     position: absolute;
     bottom: 0;
     background: rgba(48,55,62,255);
     color: gray;
     height: 8rem;
     width: 100%;
     text-align: center;
     margin-top: auto;
     padding-top: 3rem;
}

footer a, footer a:visited{
     color: gray;
}

