@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&family=Raleway:ital,wght@0,700;1,600&family=Source+Sans+3:wght@700&display=swap'); /* Imported fonts from google */ 


/* Declaring variables in :root makes it easier to make changes to colors or sizes, and keep styles consistent throughout the website. We call these by writing var (--insert-variable-name-here). When changes are made to values here, they will reflect everywhere the variable is called in the code*/

/* NOTE: We can create a variable that uses a previously named variable as its value [ex. --primary-text: var(--nc-dark-blue); ] This allows us to reuse BRAND COLOR variables in various contexts with symantic names for each */
:root {
    
/* CwtC BRAND COLORS */
    --gvl-goldenrod:#fcb037;
    --gvl-green: #8bc53f;
    --gvl-light-blue:#4dc7e7;
    --gso-green:#1a8510;
    --nc-dark-blue:#002868;
    --cwtc-off-black:#222529;
    --transparent-white: rgba(255, 255, 255, 0.85);

/* HAMBURGER MENU */
    --bar-width: 60px;
    --bar-height: 6px;
    --hamburger-gap: 6px;
    --hamburger-foreground: var(--nc-dark-blue); 
    --hamburger-background: var(--transparent-white);
    --dropdown-nav-links: var(--gvl-goldenrod);
    --hamburger-margin: 2rem;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);

/* GLOBAL DESIGN */
    --primary-text: var(--nc-dark-blue);
    --secondary-text: var(--gso-green);
    --nav-link-hover: var(--gvl-light-blue);
    --accent-color: var(--gvl-goldenrod);
    

}


/* Removes default web-browser stylings */
* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

/* Are the google fonts we selected responsive in size? If not, how do we make the font responsive? */
/* We need to check the impact on accessibility of setting the font-size to a percentage */
html {
    font-size: 62.5%;
}

body {
    max-width: 1920px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between; /* Creates space between items in header horizontally */
    align-items: center; /* Centers items vertically within the header */
}

.logo {
    width: 180px;
    margin-left: 10px;
    }

@media screen and (min-width: 1100px) {
    .logo {
            width: 222px;
    }
  }


/* START: MOBILE HAMBURGER MENU */

/* The .hamburger-menu class relates to all of the properties that control the appearance of the hamburger-menu ICON (the 3 stacked bars and the X when the icon is selected) */
.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    right: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer; /* When hovering over element with a mouse, the curser changes to indicate that the element is clickable */
}

.hamburger-menu input { /* --TODO-- Find keyboard accessible solution to close dropdown menu after tabing through all menu items -- */
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked) {
    --hamburger-foreground: var(--hamburger-background); /* This is an example of changing a variable declared in the :root for a limited scope. In this case we transposed the foreground and background color when the input has been checked. */
}

/*For keyboard navigation, changes the color of the hamburger icons to indicate they are elements that can be selected (usually with spacebar)*/
.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
    --hamburger-foreground: var(--accent-color); 
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--hamburger-foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

/* The .dropdown class relates to all of the properties that control the appearance of the the menu itself, including the backdrop that sets it apart and gives sufficient color contrast for the text */
.dropdown {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0%, -100%);
    transition: translate var(--animation-timing);
    padding: 1.5rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 2rem);
    background-color: var(--hamburger-foreground);
    border-radius: 30px 0px;
    max-width: min-content;
}

.dropdown li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.6rem;
    font-weight: 500;
    color: var(--dropdown-nav-links);
    line-height: 1.6;
    text-decoration: none; /* removes underline from links */
}

.hamburger-menu:has(input:checked) + .dropdown {
    translate: 0 100%;
}

@media screen and (min-width: 1000px) {
    .hamburger-menu {
      display: none;
    }
    .dropdown {
        display: none;
    }
}

/* END: MOBILE HAMBURGER MENU */


/* START: LARGER SCREENS HEADER/NAVBAR */

.horizontal li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 3.6rem;
    font-weight: 500;
    color: var(--primary-text);
    line-height: 1.2;
    text-decoration: none; /* removes underline from links */
}

@media screen and (max-width: 999px) {
    .horizontal li a {
      display: none;
    }
}

.nav-links li {
    display: inline-block; /* Arranges list items (nav links) horizontally */
    padding-inline-end: 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s; /* Creates smooth color transition of links when hovering over them */
}

.nav-links li a:hover {
    color: var(--nav-link-hover); /* Font color for nav links when they are hovered over */
}

/* END: LARGER SCREENS HEADER/NAVBAR */


/* START: HERO SECTION */

.hero-banner {
      height: 800px;
}

.hero-img-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

/* Add a unique .hero-pagename-image { background-image: url(""); } for each page if needed/desired */
.hero-homepage-img {
    background-image: url("/assets/North_Carolina-South_Carolina_border_sign-CC-BY SA-cropped.jpg");
}

.hero-volunteer-img {
    background-image: url("/assets/Sullivan%20Pond%20Pee%20Dee%20NWR%20NC%205413%20CC%20BY15898060833_dc05261e80_o.jpg");
    height: 60%;
}

.hero-content-container { 
    width: fit-content;
    max-height: 100%;
    padding: 0 30px;
    background: var(--transparent-white);
    border: var(--nc-dark-blue) 1px solid;
    line-height: 1.8;
}

.hero-content-container h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 7.2rem;
    font-weight: 700;
    color: var(--secondary-text);
}

.hero-content-container p {
    font-family: 'Raleway', sans-serif;
    font-size: 4.8rem;
    font-weight: 600;
    color: var(--primary-text);
}

/* These are the styles for the LEARN MORE button/link; Delete this comment if this link is desired in the future 
.cftc a {
    text-decoration: none;
    background-color: #002868;
    border: black 1px solid;
    font-family: "Open Sans", sans-serif;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.2;
    color: white;
    padding: 20px;
    margin: 30px 0;
    display: inline-block;
} */

/* END: HERO SECTION */


/* START: DIVIDER SECTION */

.divider {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.divider span {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 700;
    font-size: 3.6rem;
    color: var(--primary-text);
    padding: 25px 10px 0 10px;
    text-align: center;
}

hr {
    width: 300px;
    border: 1px solid var(--gso-green);
    margin: 20px auto;
}

/* END: DIVIDER SECTION */

/* START: MISSION & VISION SECTION */

.content {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.mission {
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 90px 0;
}

.container {
    width: 100%;
    /* max-width: 1000px; */
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right img {
    width: 100%;
}

.left {
    width: 100%;
    max-width: 40%;
    background-color: var(--gso-green);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-top: -7rem;
}

.content {
    font-family: 'Raleway', sans-serif;
}

.left h2 {
    color: white;
    opacity: 0.85;
    font-size: 4rem;
}

.left p {
    color: #222529;
    margin: 20px;
    line-height: 2;
    font-size: 2.4rem;
}

/* These are the styles for the LEARN MORE button/link; Delete this comment if this link is desired in the future 
.left a {
    text-decoration: none;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.2;
    background-color: white;
    opacity: 0.85;
    color: #002868;
    padding: 20px 30px;
    display: inline-block;
} */

/* END: MISSION & VISION SECTION */

/* START: FOOTER */

footer {
    background-color: #002868;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .links {
    width: 40%;
    columns: 2;
}

.links li{
    list-style: none;
    padding: 10px;
}

.links a{
    font-family: "Source Sans 3", sans-serif;
    font-size: 2.5rem;
    color: white;
    opacity: 0.85;
}

.links li a {
    transition: all 0.3s ease 0s; /* creates smooth color transition of links when hovering over them */
}

.links li a:hover {
    color: #fcb035; /* font color for nav links when they are hovered over */
}

.vol-btn {
    font-family: "Open Sans", sans-serif;
    font-size: 3.6rem;
    font-weight: 700;
    text-decoration: none;
    background-color: #fcb035;
    opacity: 0.85;
    color: #002868;
    padding: 20px 40%;
    display: inline-block;
    align-self: center;
}

.socials {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    width: 20%;
    margin-left: 160px;
}

.socials img {
    width: 80px;
    margin: 0 10px;
}

/* END: FOOTER */